<% provide(:title, 'Home') %>


<% if signed_in? %>
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-1">
        </div>
        <div class="col-xs-12 col-sm-7">
          <%= render 'shared/micropost_form' %>
          <%= render 'shared/feed' %>
        </div>
        <div class="col-xs-12 col-sm-3  text-left" style="padding: 0">
        <%= render 'shared/user_info' %>
        </div>
      </div>

    </div>
<% else %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("3.jpg", alt: ""), '#' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>微博</h1>
          <h3>如今最流行最炫酷的社交网络，快来加入吧～</h3>
          <p><a class="btn btn-lg btn-primary" href="signup" role="button">加入它</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("2.jpg", alt: ""), '#' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>用一句话随意记录生活</h1>
          <p><a class="btn btn-lg btn-primary" href="help" role="button">了解更多</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("1.jpg", alt: ""), '#' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>由学生独立完成</h1>
          <h3>小小微博见证了学习Ruby on Rails的点点滴滴</h3>
          <p><a class="btn btn-lg btn-primary" href="about" role="button">关于</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<% end %>
