<% provide(:title, 'Sign up') %>
<h1>注册</h1>

<div class="row">
  <div class="span6 offset3 denglu">
    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_field :name, class:"form-control",placeholder: :name%>


        <%= f.text_field :email, class:"form-control",placeholder: :email %>


        <%= f.password_field :password, class:"form-control",placeholder: :password %>

        <%= f.password_field :password_confirmation, class:"form-control",placeholder: :password_confirmation %>

        <%= f.submit "注册", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>
</div>